<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>問診を受ける前に知っておくべきこと</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .start-button.clicked {
      transform: scale(0.95);
    }
  </style>
</head>
<body>

<div class="container">
  <div class="py-5 text-center">
    <h2>問診を受ける前に知っておくべきこと</h2>
  </div>

  <div class="row">
    <div class="col-lg-8 mx-auto">
      <p class="lead">
        以下に提供する自己ケア方法に取り組む前に、次の注意事項をお読みください：
      </p>
      <ol>
        <li><strong>プロの意見:</strong> 首や腰の痛みは様々な原因からくることがあります。ここで紹介する方法は、一部の一般的な症状に対して有効かもしれませんが、それが全ての人に当てはまるわけではありません。痛みがひどい、または長期間続く場合は、必ず医療専門家に相談してください。</li>
        <li><strong>痛みに注意:</strong> セルフケアの方法を試すときは、自分の体の反応を注意深く観察してください。もし痛みが増すようであれば、すぐにその活動を中止し、医療専門家に相談してください。</li>
        <li><strong>正しい方法で:</strong> エクササイズやストレッチングを行うときは、正しい方法で行うことが重要です。間違った方法で行うと、かえって怪我を引き起こす可能性があります。</li>
        <li><strong>既存の健康状態:</strong> 既に何らかの健康上の問題がある人は、新しいエクササイズやストレッチングを始める前に、必ず医療専門家に相談してください。</li>
        <li><strong>無理をしない:</strong> 新しいエクササイズを始めるときは、無理をせず、徐々に進めるようにしてください。</li>
      </ol>
    </div>
  </div>

  <div class="py-5 text-center">
    <%= link_to '問診を開始する', new_symptom_path, class: 'btn btn-primary start-button' %>
  </div>
</div>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const startButton = document.querySelector('.start-button');

    startButton.addEventListener('mousedown', () => {
      startButton.classList.add('clicked');
    });

    startButton.addEventListener('mouseup', () => {
      startButton.classList.remove('clicked');
    });
  });
</script>

</body>
</html>
