<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <%= form_with(model: @user, local: true) do |form| %>
    <div class="field" style="width: 200%; max-width: 800px; margin: 0 auto; border: 2px solid #cccccc; background-color: #f8f8f8; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 20px; border-radius: 20px;">
      <%= form.label :notification_time, style: "font-size: 18px; color: #333333; margin-bottom: 10px;" %>
      <%= form.time_field :notification_time, style: "font-size: 16px; color: #333333; width: 100%; border: 1px solid #cccccc; border-radius: 10px; padding: 5px;" %>
      
      <div class="actions" style="width: 100%; min-height: 70px; margin-top: 10px; display: flex; align-items: center; justify-content: center;">
        <%= form.submit style: "font-size: 20px; color: white; background-color: #333333; border-radius: 20px; width: 100%; height: 50px;" %>
      </div>
    </div>
  <% end %>
</div>
