<head>
  <style>
    .flash-message {
      margin-bottom: 10px;
    }

    .flash-alert {
      color: #dd4b39;
    }

    .flash-notice {
      color: #007f5f;
    }
  </style>
</head>
<body>
  <!-- Your body content here -->

  <% flash.each do |message_type, message| %>
    <p class="flash-message alert-<%= message_type %>">
      <%= message %>
    </p>
  <% end %>

  <!-- Rest of the body content -->

</body>
</html>
