<head>
  <%= stylesheet_link_tag 'footer' %>
</head>
<body>
    <footer id="footer">
        <div class="container">
            <div class="d-flex justify-content-center">
                <a href="#" style="margin-right: 20px; text-decoration: none; color: #333;"><%= t('shared_footer.developer_info') %></a>
                <a href="#" style="margin-right: 20px; text-decoration: none; color: #333;"><%= t('shared_footer.terms_of_service') %></a>
                <a href="#" style="text-decoration: none; color: #333;"><%= t('shared_footer.privacy_policy') %></a>
            </div>
        </div>
    </footer>
</body>
