<head>
  <%= stylesheet_link_tag 'footer' %>
</head>
<body>
    <footer id="footer">
        <div class="container">
            <div class="d-flex justify-content-center">
                <a href="#" style="margin-right: 20px; text-decoration: none; color: #333;">開発者情報</a>
                <a href="#" style="margin-right: 20px; text-decoration: none; color: #333;">利用規約</a>
                <a href="#" style="text-decoration: none; color: #333;">プライバシーポリシー</a>
            </div>
        </div>
    </footer>
</body>
