<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
  <%= javascript_pack_tag 'home' %>
  <%= stylesheet_link_tag 'home' %>
</head>

<body>
  <div class="left-text">
    <p>一期一会、大切な自分を守る</p>
    <p>心身一如、健やかな毎日を</p>
    <p>穏やかな心で美しい姿勢を</p>
  </div>
  <div class="center-line">
  <div class="title-text">なごみ首腰｜痛みケアナビ</div>
    <%= link_to t('home.start_diagnosis'), symptoms_path, class: 'cta-button' %>
    <%= link_to t('home.discussion_board'), posts_path, class: 'board-link' %>
  </div>
</body>