<%= stylesheet_link_tag 'weather' %>
<%= javascript_pack_tag 'weather' %>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>現在地の1週間の天気予報</title>
</head>
<body>
    <h1 id="locationTitle">現在地の1週間の天気予報</h1>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>日付</th>
                    <th>天気</th>
                    <th>最低気温</th>
                    <th>最高気温</th>
                    <th>気圧</th>
                </tr>
            </thead>
            <tbody id="weatherData">
            </tbody>
        </table>
    </div>

    <div class="advice-box">
        <h2>本日のアドバイス</h2>
        <p></p>
    </div>
</body>
