body {
    font-family: 'Noto Serif JP', serif;
    background-color: #fdf6e3;
    color: #333;
}

.container {
    max-width: 920px;
    margin: 50px auto;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

#edit-button, #delete-button, #complete-button {
    background-color: #2f4f4f; // この色は指定されたグレーです
    border: none; // 枠線を削除

    &:hover {
        background-color: #708090; // ホバー時の色も指定されたものに変更
    }
}


button, .btn {
    font-size: 1em;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #2f4f4f;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

button:hover, .btn:hover {
    background-color: #708090;
    border-color: #708090;
}

#new-care-record, #delete-neck-records, #delete-back-records {
    background-color: #006400;
    color: #FFFFFF;
}

#new-care-record:hover, #delete-neck-records:hover, #delete-back-records:hover {
    background-color: #008000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.date, .care-type {
    font-size: 1.2em;
    color: #333333;
}

#new-care-record {
    background-color: #006400; /* ボタンの背景色を濃い抹茶色に設定します */
    color: #ffffff; /* ボタンのテキスト色を白に設定します */
}

#new-care-record:hover {
    background-color: #008000; /* ボタンにマウスカーソルを合わせたときの背景色を少し明るい抹茶色に設定します */
}


