body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif JP', serif;
}

.container {
  display: flex;
  height: auto;
  margin: 0;
  padding: 0;
  z-index: 1;
  width: 100%; 
  margin-top: 90px;  /* この行を追加 */
}

.left-image {
  flex: 6;
  height: 100%; 
}

.left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-content {
  position: relative;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D8EFED !important;
  margin-left: auto; /* この行を追加 */
}


.main-title {
  font-size: 30px;
  margin-bottom: 100px;
  margin-right: -80px;
  margin-top: -70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  position: absolute;
  right: 20px;
  top: calc(50% + 40px);
  color: #064848;  /* 文字色を変更 */
  font-weight: bold;  /* 太字にする */
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;
}

.about-title {
  font-size: 35px;
  margin: 20px 0;
  color: #064848;  /* 文字色を変更 */
}

.about-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.app-description-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-description-title {
  font-size: 25px;
  margin: 10px 0;
  color: #064848;  /* 文字色を変更 */
}

.app-description-text {
  font-size: 20px;
  margin: 10px 0;
  line-height: 1.8;
  padding-right: 20px;
}

.app-image-section {
  flex: 1;
}

.app-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scrolling-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:  #064848; /* 背景色 */
  padding: 60px; /* パディングを適用 */
}

.scrolling-links a {
  flex-basis: calc(50% - 40px); /* 横幅を調整 */
  margin: 20px;  /* 余白調整 */
  padding: 20px; /* パディング */
  text-align: center;
  border: 3px solid #235D5D;
  background-color: #235D5D;
  color: #FFFFFF;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 12px; /* 丸み */
  font-size: 18px; /* フォントサイズ */
}

.services-title {
  font-size: 28px;  /* フォントサイズ */
  margin-bottom: 20px; /* マージン */
  color: #FFFFFF;  /* 文字色 */
  width: 100%;  /* 幅を100%に */
  text-align: center;  /* 文字を中央寄せ */
}

body .container .right-content {
  background-color: #D8EFED !important;
  z-index: 10;
}

.alert-notice,
.alert-alert {
  font-size: 16px; 
  position: fixed; 
  top: 90px;       
  left: 0;
  right: 250px;
  width: 100%;     
  padding: 1rem;   // パディングを追加して、メッセージの上下にスペースを作る
  background-color: #f8f9fa; // 背景色はBootstrapのデフォルトのアラートカラーに合わせる
  border-bottom: 1px solid #ececec; // 下に薄い境界線を追加
  color: #333;    // テキストの色をダークグレーに
  text-align: left; // テキストを左寄せに
  z-index: 1050;  // モーダルウィンドウ等の上に表示されるように十分に大きな値に設定
}

/* モバイルデバイス用のスタイル */
@media only screen and (max-width: 768px) {
  .main-title,
  .right-content {
    display: none; /* メインタイトルと背景を非表示に */
  }

  /* その他のモバイルビュー用のスタイル調整 */
  .container {
    flex-direction: column;
    margin-top: 0;
  }

  .left-image {
    margin-top: 100px; /* モバイルビューでのみ画像を下に移動 */
  }

  .about-container,
  .about-content {
    flex-direction: column;
  }

  .app-description-text,
  .app-description-title,
  .about-title {
    padding-left: 20px;
    padding-right: 20px;
  }

  .scrolling-links a {
    flex-basis: 100%;
    margin: 10px;
  }
}
