body {
  font-family: 'Noto Serif JP', serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 80px;
  background: linear-gradient(rgba(173, 216, 230, 0.7), rgba(144, 238, 144, 0.7));
}

.side-text {
  position: static;
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  line-height: 0.9;
  font-size: 24px;
  color: #333;
}

.side-text-1 {
  left: 250px; /* adjust this value */
}

.side-text-2 {
  left: 350px; /* adjust this value */
}

.hero {
  margin-top: 100px;
  width: 60%; /* adjust this value */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.cta-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.cta-button, .board-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  line-height: 60px;
  padding: 0 15px;
  background-color: #009688;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 0 50px; /* Adjust the horizontal margin */
  position: static;
}

.cta-button:hover, .board-link:hover {
  background-color: #00593f;
}
