body {
  background-color: #B2D8B2; /* 薄い抹茶色 */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 110vh; /* Body height */
  margin: 0;
  padding: 0;
}

.left-text {
  writing-mode: vertical-rl;
  font-family: 'Noto Serif JP', serif;
  color: #594A42; /* テキストの色をちょっと暗めに */
  font-size: 1.6em;
  position: absolute;
  left: 150px; /* 左からの位置を調整 */
  top: 50%; /* 上からの位置を調整 */
  transform: translateY(-50%); /* 上下中央寄せ */
  line-height: 1.8; /* 文字間隔（行間）を広げる */
}

.center-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #1b4036; /* 濃い抹茶色 */
  border-right: 2px solid #1b4036; /* 濃い抹茶色 */
  background-color: #1b4036; /* 縦ライン内の色を濃い抹茶色に */
  padding: 1em 2em;
  height: 110vh; /* Center-line height */
}

.title-text {
  writing-mode: vertical-rl;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
  color: #F3EAD7; /* タイトルの色を和紙の色に */
  font-size: 2.2em;
  margin: 1em 0;
}

.cta-button,
.board-link,
.care-records-link {
  border-radius: 24px;
  font-family: 'Noto Serif JP', serif;
  color: #F3EAD7; /* リンクの色を和紙の色に */
  background-color: transparent;
  margin: 0.25em 0; /* リンクとリンクの幅を近づける */
  padding: 0.5em;
  text-decoration: none;
  font-size: 1em;
}
