body {
    font-family: 'Noto Serif JP', serif;
    background-color: #fdf6e3;  /* A light brown color */
    color: #566246; /* 落ち着いた緑色のテキスト */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    border: 1px solid #a8bfa5;
    padding: 20px;
    background-color: #A4B494 /* 和風の背景色 */
}

.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    .header {
        background-color: #748c74;
        border-bottom: 1px solid #e0e0e0;
        padding: 15px;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
    }

    .body {
        padding: 15px;
        background-color: #fff;
        color: #333;
    }
}

.form-group label {
    font-weight: bold;
}

.form-control {
    height: auto;
    resize: none;
}

.btn-primary {
    background-color: #566246;
    border-color: #566246;
    color: #ffffff;
    font-weight: bold;

    &:hover {
        background-color: #748c74;
        border-color: #748c74;
    }
}

.message-card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.02);
    }

    .card-header {
        background-color: #748c74;
        border-bottom: 1px solid #e0e0e0;
        padding: 10px 15px;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;

        a {
            color: #ffffff;
            text-decoration: underline;
            text-decoration-color: #ffffff;

            &:hover {
                color: #ffffff;
            }
        }
    }

    .card-body {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 100%;

        .card-text {
            margin-top: 10px;
            color: #333333;
        }
    }
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .message-card {
        flex-basis: calc(50% - 20px);
    }
}

.edit-link,
.delete-link {
    color: #566246;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.pain-location {
    font-family: 'Noto Serif JP', serif;
    color: #3e2723;
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.card-body-content {
    display: flex;
    flex-direction: column;
}

.edit-delete-links {
    margin-left: 10px;
}

.favourite-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-matcha {
     background-color: #1f6f3b;
     color: white;
}
.btn-matcha:hover {
    background-color: #104f27;
    color: white;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Serif JP', serif;
    background-color: #F4F1DE ;
    padding: 10px;
    border-radius: 5px;
  }
  
  .page-item {
    margin: 0 5px;
    padding: 10px 20px; /* ここでページネーションのサイズを調整 */
    background-color: #8ca08c;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: #f1eee9; /* 落ち着いた背景にマッチする文字色 */
    font-size: 1.2rem; /* ページネーションの文字サイズを大きくする */
  }

  .page-item.current {
    background-color: #748c74;
    color: #f1eee9;
  }

  .page-item:hover {
    background-color: #5f755f;
  }
