body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background-color: #B2D8B2; /* 薄い抹茶色 */
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between; /* flex-endから変更 */
}

.logo {
  font-family: 'Noto Serif JP', serif; /* 和風のフォントに変更 */
  display: inline-flex;
  align-items: center;
}

.logo-main,
  .logo-sub {
    font-size: 18px; /* タイトルのフォントサイズを小さく */
    display: block; /* ブロック要素に変更して縦に並ぶのを防ぐ */
    white-space: nowrap; /* 改行されるのを防ぐ */
    color: #fff; /* テキストの色を白に設定 */
  }

.navbar-links {
  color: #fff;
  margin-right: 15px;
  display: none; /* 追加 */
}

.side-bar {
  position: fixed;
  right: 0;
  top: 100px;
  height: 100vh;
  width: 0;
  background-color: #f8f9fa;
  overflow: auto;
  z-index: 1000;
}

.side-bar.open {
  width: 250px;
}

.side-bar a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  padding: 15px;
  height: 80px;
  line-height: 70px;
  font-family: 'Noto Serif JP', serif; /* この行を追加 */
}

.side-bar a:hover {
  color: #007f5f;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* ここをspace-aroundに変更 */
  width: 30px;
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.hamburger div {
  height: 4px;
  background: #fff; /* タイトルの色に合わせる */
  transition: transform 0.3s, opacity 0.3s; /* ここを追加 */
}

.hamburger.open div:nth-child(1) {
  transform: translateY(8px) rotate(45deg); /* ここを追加 */
}

.hamburger.open div:nth-child(2) {
  opacity: 0; /* ここを追加 */
}

.hamburger.open div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg); /* ここを追加 */
}

@media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-title {
    font-size: 20px;
  }
}