#background-image {
    position: fixed;
    left: 0;
    top: 0;
    width: 66.66%;  /* 左から3分の2の位置までをカバー */
    height: 100%;
    background-image: url('tree-woods_00068.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;  /* 他の要素の下に配置 */
}
