/* Hide the radio buttons */
.form-check-input {
    display: none;
  }
  
  /* Style for active label */
  .active {
    border-color: #FF0000; /* This will make the border red */
    background-color: #FF0000; /* This will make the background red */
    color: white;
    box-shadow: 0 0 10px #FF0000; /* This will add a red shadow around the item */
  }
  
  /* Custom button size */
  .custom-button {
    width: 200px;
    height: 60px;
  }
  
  /* Custom label with margin and width */
  .custom-label {
    margin: 10px !important;
    min-width: 200px; /* Adjust this value to ensure the text fits */
    text-align: center; /* Center the text within the label */
  }
  
  /* Custom title */
  .title {
    font-size: 3em;
    font-family: 'Yu Gothic', sans-serif;
    margin-bottom: 0.5em;
    color: #709775; /* A matcha color */
  }
  
  /* Custom instruction */
  .instruction {
    font-size: 1.5em;
    font-family: 'Yu Gothic', sans-serif;
    margin-bottom: 1em;
    color: #709775; /* A matcha color */
  }