h1, h2, label {
  color: #709775;
}

body {
  background-color: #e9e7e0;
}

.pain-type-page h1,
.pain-type-page h2,
.pain-type-page label {
  color: #709775;
}

.pain-type-page label {
  margin: 0 20px;
}

.pain-type-page .btn-primary {
  background-color: #c5a35a;
  color: #fff;
}

.pain-type-page .btn-primary:focus,
.pain-type-page .btn-primary:active {
  background-color: #c5a35a !important;
  box-shadow: none !important;
  outline: none !important;
}

.pain-type-page .btn-outline-primary {
  color: #c5a35a;
  border-color: #c5a35a;
}

.pain-type-page .btn-outline-primary:hover {
  background-color: #c5a35a;
  color: #fff;
}

.active {
  border-color: #FF0000;
  background-color: #FF0000;
  color: white;
  box-shadow: 0 0 10px #FF0000;
}

.custom-button {
  width: 200px;
  height: 60px;
}

.custom-label {
  margin: 10px;
  min-width: 150px;
  text-align: center;
}

.title {
  font-size: 3em;
  font-family: 'Yu Gothic', sans-serif;
  margin-bottom: 0.5em;
}

.instruction {
  font-size: 1.5em;
  font-family: 'Yu Gothic', sans-serif;
  margin-bottom: 1em;
}

.btn-back {
  background-color: #e9e7e0; /* 薄茶色 */
  color: #333; /* テキストの色を濃い色に */
  border: 1px solid #c5a35a;
  font-size: 1.3em; /* フォントサイズを.custom-labelと同じに */
  padding: 10px 50px; /* パディングを.custom-labelと同じに */
  color: #709775;
}

.btn-back:hover {
  background-color: #c5a35a;
  color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
  .title {
      font-size: 2em;
  }

  .instruction {
      font-size: 1.2em;
  }

  .custom-label {
    margin: 5px 5px;  
    display: block;
    width: auto;       /* 幅を自動に設定 */
    min-width: 100px;  /* 最小幅を100pxに設定 */
    height: 40px;      /* 縦幅を40pxに設定 */
    text-align: center;
    font-size: 0.8em;
    padding: 5px 10px;
    line-height: 30px; /* ラベル内のテキストの位置を調整 */
}

.custom-button {
    width: auto;       /* 幅を自動に設定 */
    min-width: 100px;  /* 最小幅を100pxに設定 */
    height: 40px;      /* 縦幅を40pxに設定 */
    font-size: 0.8em;
    padding: 5px 10px;
    line-height: 30px; /* ボタン内のテキストの位置を調整 */
}

  .btn-lg {
      padding: 5px 10px; /* 大きなボタンのパディングを調整 */
      font-size: 0.8em;  /* 大きなボタンのテキストサイズを小さくする */
  }

  .two-lines-label {
    white-space: normal;  /* テキストを折り返す */
    height: auto;         /* 高さを自動に設定 */
    line-height: 1.2;     /* ラベル内のテキストの行間を調整 */
    padding-top: 5px;     /* 上部のパディングを追加 */
    padding-bottom: 5px;  /* 下部のパディングを追加 */
  }
  
}
