body {
  background-color: #e9e7e0;
}

h1, h2 {
  color: #709775;
}

.btn-primary {
  background-color: #c5a35a;
  color: #fff;
}

.btn-primary:focus,
.btn-primary:active {
  background-color: #c5a35a !important;
  box-shadow: none !important;
  outline: none !important;
}

body .btn-primary.btn-lg.custom-button {
  width: 200px !important;
  height: 60px !important;
}

.title {
  font-size: 3em;
  font-family: 'Yu Gothic', sans-serif;
  margin-bottom: 0.5em;
}

.instruction {
  font-size: 1.5em;
  font-family: 'Yu Gothic', sans-serif;
  margin-bottom: 1em;
}

#slider {
  width: 60%;
  height: 30px;
  margin: 0 auto;
  background-color: #d3d3d3;
}

#slider-comments {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  font-size: 12px;
  color: #709775;
}

.pain-comment {
  margin-right: auto;
}

#slider .noUi-connect {
  background-color: #98FB98;
}

#slider-value {
  font-size: 24px;
  color: #709775;
}

body .btn-primary.btn-lg.custom-button-responsive {
  width: auto;       /* 幅を自動に設定 */
  min-width: 200px;  /* 最小幅を100pxに設定 */
  height: 60px;      /* 縦幅を40pxに設定 */
  font-size: 1.3em;
  padding: 5px 10px;
  line-height: 30px; /* ボタン内のテキストの位置を調整 */
}

/* Responsive styles */
@media (max-width: 768px) {
  .title {
    font-size: 2em;
  }

  .instruction {
    font-size: 1.2em;
  }

  .custom-button {
    width: 80%;
    height: 50px;
  }

  #slider {
    width: 90%;
  }

  #slider-comments {
    width: 90%;
    font-size: 10px;
  }

  #slider-value {
    font-size: 20px;
  }
}
