body {
  background-color: #e9e7e0;  /* A light brown color */
  font-family: 'Noto Serif JP', serif;
  font-size: 20px;
}

h2, .start-button {
  color: #c5a35a;  /* A gold color */
}

#page-container {
  margin-top: 80px; /* あるいは必要な値に調整します */
}

.start-button.clicked {
  transform: scale(0.95);
}

strong {
  color: #709775;  /* A matcha color */
}

.start-button {
  background-color: #c5a35a;
  color: #fff;
}

ol li {
  font-size: 18px;  /* リストのテキストサイズを少し小さくします */
}

/* モバイルデバイス向けのスタイル */
@media (max-width: 695px) {
  .caution-text {
      font-size: 14px;  /* サイズを大きく調整 */
  }

  h2 {
      font-size: 1.2em;  /* サイズを大きく調整 */
  }

  ol li {
      font-size: 14px;  /* サイズを大きく調整 */
  }

  .start-button {
      padding: 7px 14px;  /* サイズを大きく調整 */
      font-size: 18px;  /* サイズを大きく調整 */
  }
}

/* タブレット向けのスタイル */
@media (min-width: 601px) and (max-width: 768px) {
  .caution-text {
      font-size: 18px;  /* サイズを大きく調整 */
  }

  h2 {
      font-size: 2.5em;  /* サイズを大きく調整 */
  }

  ol li {
      font-size: 16px;  /* サイズを大きく調整 */
  }

  .start-button {
      padding: 9px 16px;  /* サイズを大きく調整 */
      font-size: 20px;  /* サイズを大きく調整 */
  }
}
