body {
  background-color: #f8f4e8;
  color: #8B4513;
  font-family: 'Hiragino Mincho Pro', serif;
}

.container {
  margin-top: 70px;
}

.row.justify-content-center {
  margin-top: 100px;
}

.card {
  border: 1px solid #8B4513;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #f3e9d2;
}

.card-body {
  background-color: #709775;
  color: #8B4513;
  border: 1px solid #8B4513;
  padding: 30px;
  border-radius: 10px;
}

.form-control, .btn {
  border-radius: 0;
  border: 1px solid #8B4513;
}

.btn-tea {
  background-color: #a5d6a7;
  color: #004d40;
  border: none;
}

.btn-tea:hover {
  background-color: #66bb6a;
  color: #004d40;
}

.form {
  h2 {
      font-size: 2.5rem; 
  }

  label {
      font-size: 1.2rem; 
  }

  .form-control {
      font-size: 1.1rem; 
      padding: 12px 20px; 
  }

  .btn {
      font-size: 1.1rem; 
      padding: 10px 20px; 
  }
}

.btn-google {
  color: #545454;
  background-color: #ffffff;
  border: 1px solid #ccc;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin-top: 10px;
  width: 200px; 
  margin: 20px auto;  

  img {
      margin-right: 10px;
  }

  &:hover {
      background-color: #f7f7f7;
  }
}

.line-login-btn {
  background-color: #06C755;
  color: #FFFFFF;
  border: none; 
  padding: 10px 15px; 
  border-radius: 4px; 
  font-weight: bold; 
  cursor: pointer; 
  width: 200px;  
  margin: 20px auto;  
  display: flex;
  align-items: center;
}

.btn-icon {
  margin-right: 8px;  
}

.line-login-btn:hover {
  background-color: #06C755; /* ホバー時の背景色を元の色と同じに */
  color: #FFFFFF; /* ホバー時の文字色を元の色と同じに */
}