body {
    font-family: 'Noto Serif JP', serif;
    background-color: #fdf6e3;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fdf6e3;

    .header {
        background-color: #5f9ea0;
        border-bottom: 1px solid #e0e0e0;
        padding: 15px;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
    }

    .body {
        padding: 15px;
        background-color: #fff;
        color: #333;
    }
}

.btn-primary {
    background-color: #2f4f4f;
    border-color: #2f4f4f;
    color: #ffffff;
    font-weight: bold;

    &:hover {
        background-color: #708090;
        border-color: #708090;
    }
}

.message-card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.02);
    }

    .card-header {
        background-color: #5f9ea0;
        border-bottom: 1px solid #e0e0e0;
        padding: 10px 15px;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff; // 白色に変更

        a {
            color: #ffffff;  // リンクの色を白に設定
            text-decoration: none;  // リンクの下線を消去
            text-decoration: underline;  // リンクに下線を追加
            text-decoration-color: #ffffff;  // 下線の色を白に設定

            &:hover {
                color: #ffffff;  // マウスオーバー時も色を白に保つ
            }
        }
    }

    .card-body {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 100%;

        .card-text {
            margin-top: 10px;
            color: #333333;
        }
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .message-card {
        flex-basis: 100%;
        width: 80%;
    }
}

.edit-link,
.delete-link {
    color: #2f4f4f;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.pain-location {
    font-family: 'Noto Serif JP', serif;
    color: #3e2723;
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.page-container {
    display: flex;
    justify-content: center; // 位置調整を中央に変更
    align-items: flex-end; // ここを変更
    height: 100vh;
}

.message-card .card-header {
    background-color: #748c74;
}
